<table>
  <tr>
    <th>Title</th>
    <th>Hostname</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

  <% links.each do |link| %>
    <tr id="links-<%= link.id %>">
      <td>
        <a href="<%= link.url %>">
          <%= link.title %>
        </a>
      </td>

      <td>
        <%= link.hostname %>
      </td>

      <td>
        <%= link.description %>
      </td>

      <td>
        <a class="button tiny" href="/links/<%= link.id %>/edit">Edit</a>
      </td>

      <td>
        <form class="delete-link" method="POST" action="/links/<%= link.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="name" value="<%= link.title %>">
          <button class="button tiny secondary" type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
