<ul class="tabs" data-tab>
  <% categories.each do |category| %>
    <li class="tab-title<%= category == categories.first ? " active" : "" %>">
      <a href="#<%= category %>"><%= category %></a>
    </li>
  <% end %>
</ul>

<div class="tabs-content">
  <% categories.each do |category| %>
    <div class="content<%= category == categories.first ? " active" : "" %>" id="<%= category %>">
      <%= erb :"links/index", locals: { links: category.links } %>
    </div>
  <% end %>
</div>
