<ul class="tabs" data-tab>
  <% categories.each_with_index do |category, i| %>
    <li class="tab-title<%= i == categories.count - 1 ? " active" : "" %>">
      <a href="#<%= category%>"><%= category %></a>
    </li>
  <% end %>
</ul>

<div class="tabs-content">
  <% categories.each_with_index do |category, i| %>
    <div class="content<%= i == categories.count - 1 ? " active" : "" %>" id="<%= category %>">
      <%= erb :"links/index", locals: { links: category.links } %>
    </div>
  <% end %>
</div>
